<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>一座城池</webname>
  <weburl>http://www.yizuocity.com</weburl>
  <weblogo>/upload/201410/25/201410251904084346.jpg</weblogo>
  <webcompany>一座城池</webcompany>
  <webaddress />
  <webtel>13421365591</webtel>
  <webfax />
  <webmail>645001895@qq.com</webmail>
  <webcrod> 粤ICP备14087541号-1  </webcrod>
  <webtitle>一座城池</webtitle>
  <webkeyword>一座城池|城池|C#|c#|asp.net|Asp.net|.net|Js|Jquery|小司|ORM|html5|CSS3</webkeyword>
  <webdescription>一座城池的博客，不光专注于技术分享，还关注于生活，给广大的it屌丝们以更多帮助！！</webdescription>
  <webcopyright>版权所有 一座城池 © Copyright 2014 - 2015.  All Rights Reserved.</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>1</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>0</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>&lt;script src="http://s24.cnzz.com/stat.php?id=1996164&amp;web_id=1996164&amp;show=pic" language="JavaScript"&gt;&lt;/script&gt;</webcountcode>
  <smsapiurl>http://sms.dtcms.net/httpapi/</smsapiurl>
  <smsusername>test</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <emailsmtp>smtp.ym.163.com</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>web@pcdzsw.com</emailfrom>
  <emailusername>web@pcdzsw.com</emailusername>
  <emailpassword>EA4C94A47ED87546</emailpassword>
  <emailnickname>东方在线</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt,pdf,xml</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>10240</imgsize>
  <imgmaxheight>0</imgmaxheight>
  <imgmaxwidth>0</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>1</watermarktype>
  <watermarkposition>1</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>城池</watermarktext>
  <watermarkfont>BatangChe</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>DTcms</sysencryptstring>
</siteconfig>