          <div class="share">
  <h3 class="left">分享本文，推荐到您的社交平台：</h3>

 <a target="_blank" href="http://cang.baidu.com/do/add?iu=http%3A%2F%2Fwww.yizuocity.com{NowUrl}&amp;it={model.title}&amp;linkid=hjm6y313aqz" class="baidu-share" title="分享到百度云收藏"></a>

  <a target="_blank" rel="nofollow" href="http://connect.qq.com/widget/shareqq/index.html?url=http%3A%2F%2Fwww.yizuocity.com{NowUrl}&desc={model.title}&pics=&site=bshare" class="qqsq-share" title="分享到QQ"></a>

  <a target="_blank" rel="nofollow" href="http://share.renren.com/share/buttonshare?link=http%3A%2F%2Fwww.yizuocity.com{NowUrl}&title={model.title}" class="renren-share" title="分享到人人网"></a>

  <a target="_blank" rel="nofollow" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http%3A%2F%2Fwww.yizuocity.com{NowUrl}&title={model.title}&pics=&summary=&desc=" class="qq-share" title="分享到QQ空间"></a>

  <a target="_blank" rel="nofollow" href="http://www.kaixin001.com/rest/records.php?url=http%3A%2F%2Fwww.yizuocity.com{NowUrl}&style=11&content={model.title}&stime=&sig=" class="kaixin-share" title="分享到开心网"></a>

  <a target="_blank" rel="nofollow" href="http://v.t.qq.com/share/share.php?title={model.title}&url=http%3A%2F%2Fwww.yizuocity.com{NowUrl}&site=http://www.yizuocity.com/" class="tencent-share" title="分享到腾讯微博"></a>

  <a target="_blank" rel="nofollow" href="http://v.t.sina.com.cn/share/share.php?&url=http%3A%2F%2Fwww.yizuocity.com{NowUrl}&title={model.title}" class="sina-share" title="分享到新浪微博"></a>

  <a target="_blank" rel="nofollow" href="http://t.163.com/article/user/checkLogin.do?link=http%3A%2F%2Fwww.yizuocity.com{NowUrl}&source=salonglong.com&info={model.title}" class="netease-share" title="分享到网易微博"></a>

  <a target="_blank" rel="nofollow" href="http://www.douban.com/recommend/?url=http%3A%2F%2Fwww.yizuocity.com{NowUrl}&title={model.title}" class="douban-share" title="分享到豆瓣"></a>

  </div>
