<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%set string category_title=get_category_title(category_id,"资源下载")%>
<title>{category_title} - {config.webname}</title>
<link rel="stylesheet" href="{config.webpath}css/pagination.css" />
<link media="screen" type="text/css" href="<%templateskin%>/css/index.css" rel="stylesheet">
<script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="<%templateskin%>/js/base.js"></script>
 <script type="text/javascript" src="<%templateskin%>/js/style.js"></script>
</head>

<body>
<!--Header-->
<%template src=/_header.html/%>
<!--/Header-->
        <%set string category_nav=get_category_menu("down_list", category_id)%>
     <!--网站位置-->
<div class="crumbs-wrap">
  <div class="wrapper"> 
    <!-- 面包屑 -->
    <div class="crumbs left">当前位置 - <a title="返回首页" href="/">首页</a> -
      <a href="<%linkurl("down")%>" title="查看资源下载中的全部资源" rel="category tag">资源下载</a>      -
      {category_nav}   </div>
    <!-- 面包屑end --> 
  </div>
</div>  
<div class="container wrapper">
  <div class="wrap">
    <div class="content-wrap left">
      <div class="content">
    <%set DataTable down_list = get_article_list("down", category_id, page, "status=0", out totalcount, out pagelist, "down_list", category_id, "__id__")%><!--取得一个分页DataTable-->
        <%foreach(DataRow dr in down_list.Rows)%>
    <div class="post"> 
          <!-- 缩略图 -->
          <div class="post-thumb left"> 
          <a class="boxer img-link" rel="gallery" href="{dr[img_url]}" title="{dr[title]}">{dr[title]}</a>
           <a href="<%linkurl("down_show",{dr[id]})%>" class="post-link" target="_blank" title="详细阅读 {dr[title]}"> {dr[title]}</a>
            <div class="thumb-bg"></div>
            <img src="{dr[img_url]}" alt="{dr[title]}"> </div>
          <!-- 缩略图end --> 
          <!-- 标题 -->
          <div class="post-head">
            <h2> <a href="<%linkurl("down_show",{dr[id]})%>" target="_blank" title="详细阅读 {dr[title]}"> {dr[title]}</a></h2>
            <!-- 文章信息 -->
            <div class="info"> <a href="http://www.yizuocity.com" title="一座城池博客">一座城池</a>&nbsp;      发表于：{dr[add_time]}&nbsp; <a href="<%linkurl("news_list",{dr[category_id]})%>" title="查看<%write get_category_title({strtoint({dr[category_id]})}, "")%>中的全部文章" rel="category tag"><%write get_category_title({strtoint({dr[category_id]})}, "")%></a>&nbsp;{dr[click]}次浏览&nbsp; </div>
            <!-- 文章信息end --> 
          </div>
          <!-- 标题end --> 
          <!-- 摘要 -->
          <div class="excerpt"> {dr[zhaiyao]}</div>
          <!-- 摘要end --> 
          <a class="read-more" href="<%linkurl("down_show",{dr[id]})%>" title="详细阅读 「{dr[title]}" target="_blank">阅读更多</a>

    </div>
        <%/foreach%>
          <div class="flickr">{pagelist}</div><!--放置页码列表-->
      </div>
    </div>
    <div class="sidebar right">
       <div class="sidebar-widget widget_calendar">
  <h3>日历</h3><div id="calendar_wrap">

    </div>
    </div>           
          <div class="it-list">
        <h3 class="h3">资源分类</h3>
     	<div class="redfood">
            <ul>
               <%set DataTable contentlist=get_category_child_list("news", 0)%>
        <%foreach(DataRow dr in contentlist.Rows)%>
        <li><a title="{dr[title]}" href="<%linkurl("down_list",{dr[id]})%>">{dr[title]}</a></li>
        <%/foreach%>
            </ul>
        </div>
        </div>
      <div class="sidebar-widget widget_sl_hotpost">
        <h3>下载排行</h3>
        <ul class="">
             <%set DataTable hotNews=get_article_list("down", 0,15, ""," click asc ")%>
          <%foreach(DataRow dr2 in hotNews.Rows)%>
          <li><a href="<%linkurl("down_show",{dr2[id]})%>" title="详细阅读 {dr2[title]}">{dr2[title]}</a></li>
          <%/foreach%>
     </ul>
      </div>
     <div class="focus_list">
        <h3 class="h3">友情链接</h3>
        <ul>
           <%set DataTable linkList1=get_plugin_method("DTcms.Web.Plugin.Link", "link", "get_link_list", 0, "is_lock=0 and is_image=0 and is_red=1")%>
      <%foreach(DataRow dr in linkList1.Rows)%>
      <li><a target="_blank" href="{dr[site_url]}" rel="nofollow">{dr[title]}</a></li>
      <%/foreach%>
        </ul>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript">
      // 图片延迟加载
      $(function () {
          $(".content img").lazyload({
              effect: "fadeIn",
              failurelimit: 4
          });
      });
</script>

<!--Footer-->
<%template src="_footer.html"%>
<!--/Footer-->
</body>
</html>
