<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%set string category_title=get_category_title(model.category_id,"影音娱乐")%>
<title>{model.title} - {category_title} - {config.webname}</title>
<meta content="{model.seo_keywords}" name="keywords" />
<meta content="{model.seo_description}" name="description" />  
      <link media="screen" type="text/css" href="<%templateskin%>/css/index.css" rel="stylesheet">
<script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="<%templateskin%>/js/base.js"></script>
 <script type="text/javascript" src="<%templateskin%>/js/style.js"></script>
</head>

<body>
<!--Header-->
<%template src="_header.html"%>
<!--/Header-->
    <!--网站位置-->
<div class="crumbs-wrap">
  <div class="wrapper"> 
    <!-- 面包屑 -->
    <div class="crumbs left">当前位置 - <a title="返回首页" href="/">首页</a> -
      <a href="<%linkurl("photo_list",{model.category_id})%>" title="查看{category_title}中的全部文章" rel="category tag">{category_title}</a>      -
      {model.title}   </div>
    <!-- 面包屑end --> 
  </div>
</div>

<div class="container wrapper">
  <div class="wrap">
    <div class="content-wrap left">
      <div class="content">
       <div class="post-head">
        <h2>
                    <a href="<%linkurl("photo_show",{model.id})%>" rel="bookmark" target="_blank" title="查看详细 {model.title}  ">
          {model.title}         </a></h2>
          <div class="info left">
          <a href="http://www.yizuocity.com" title="一座城池博客">{model.add_time}</a>&nbsp; 发表于：{model.add_time}&nbsp;
              <a href="<%linkurl("photo_list",{model.category_id})%>" title="查看{category_title}中的全部文章" rel="category tag">{category_title}</a>&nbsp;<script type="text/javascript" src="{config.webpath}tools/submit_ajax.ashx?action=view_article_click&id={model.id}&click=1"></script>次浏览&nbsp;
               <span class="ds-thread-count" data-thread-key="{model.id}" data-count-type="comments"></span>&nbsp;
          </div>
        <!-- 字体大小切换 -->
          <div id="font-change" class="right">
<span class="left">字体大小切换：</span>
<span id="font-dec"><a href="#" title="减小字体">小</a></span>
<span id="font-n"><a href="#" title="默认大小">中</a></span>
<span id="font-inc"><a href="#" title="增大字体">大</a></span>
</div>

          </div>
          <div class="entry bggrap">
        {model.content}
          </div>
          <div class="tags">
        关键字：<a href="#" rel="tag">{model.seo_keywords}</a>      </div>
          
         <%template src="_share3.html"%>
          <div class="clearfix"></div>
          <div class="pre-next">
        <div class="left">
          上一篇：：<%=get_prevandnext_article("photo_show", -1, "亲，已经是第一篇了！", 0)%>
        </div>
        <div class="right">
          下一篇：：<%=get_prevandnext_article("photo_show", 1, "亲，已经是最后一篇了！", 0)%></div>
      </div>
          <!--推荐文章-->
          <div class="same_cat_posts">
    <h3><a href="http://www.yizuocity.com" title="一座城池博客"></a> 推荐阅读：</h3>
  <ul class="same_cat_posts_ul">
       <%set DataTable dtlistphoto=get_article_list("photo", model.category_id, 6, "is_red=1 and id<>"+model.id)%>
          <%foreach(DataRow dr in dtlistphoto.Rows)%> 
       <li>
      <a href="<%linkurl("news_show",{dr[id]})%>" target="_blank" title="{dr[title]}"><img src="{dr[img_url]}" alt="{dr[title]}"></a>
      <div class="same_cat_posts_tittle">
        <h2><a href="<%linkurl("news_show",{dr[id]})%>" target="_blank" title="详细阅读 {dr[title]}">{dr[title]}</a></h2>
      </div>
    </li>
      <%/foreach%>
          <%if(dtlistphoto.Rows.Count<1)%>
          <div>同类下暂无推荐的资讯...</div>
          <%/if%>
      </ul>
</div>
          <!--推荐-->
                <!--评论-->
      <%template src="_duoshuo.html"%>
      <!--/评论-->
      </div>
    </div>
    <div class="sidebar right">
  <div class="sidebar-widget widget_calendar">
  <h3>日历</h3><div id="calendar_wrap">

    </div>
    </div>
        <div class="it-list">
        <h3 class="h3">影音娱乐</h3>
     	<div class="redfood">
            <ul>
               <%set DataTable contentlist=get_category_child_list("photo", 0)%>
        <%foreach(DataRow dr in contentlist.Rows)%>
        <li><a title="{dr[title]}" href="<%linkurl("photo_list",{dr[id]})%>">{dr[title]}</a></li>
        <%/foreach%>
            </ul>
        </div>
        </div>
       <div class="focus_list">
        <h3 class="h3">小编推荐</h3>
        <ul>
          <%set DataTable redphoto=get_article_list("photo", 0, 6, "is_red=1 and img_url<>''")%>
          <%foreach(DataRow dr in redphoto.Rows)%>
          <li>
            <a title="{dr[title]}" href="<%linkurl("photo_show",{dr[id]})%>">
              <img src="{dr[img_url]}" alt="{dr[title]}" />
              <span>{dr[title]}</span>
            </a>
          </li>
          <%/foreach%>
        </ul>
      </div>
        <div class="focus_list">
        <h3 class="h3">友情链接</h3>
        <ul>
           <%set DataTable linkList1=get_plugin_method("DTcms.Web.Plugin.Link", "link", "get_link_list", 0, "is_lock=0 and is_image=0 and is_red=1")%>
      <%foreach(DataRow dr in linkList1.Rows)%>
      <li><a target="_blank" href="{dr[site_url]}" rel="nofollow">{dr[title]}</a></li>
      <%/foreach%>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--Footer-->
<%template src="_footer.html"%>
<!--/Footer-->
</body>
</html>
